*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin-top: 2rem;
  text-align: center;
}
.login_box{
  border: 1px solid black;
  width: 30%;
  height: 40vh;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
input{
  width: 80%;
  padding: .5rem;
}
.submit_btn{
 width: 40%;
}